<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/css/style.css" rel="stylesheet" />
    <title>Character Details</title>
    <style>
      body {
        padding-top: 60px; /* Adjust according to navbar height */
      }
      main {
        padding-top: 1rem;
        padding-bottom: 1rem;
      }
      nav {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 1000;
      }
      footer {
        text-align: center;
        padding-top: 1rem;
      }
    </style>
  </head>
  <body></body>
</html>
