<!-- Navbar -->
<nav class="bg-gray-800 text-blue-400 p-4">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <!-- Navbar links -->
    <div class="flex order-1 w-auto">
      <ul class="flex space-x-8">
        <li>
          <a href="/" class="hover:text-gray-300 ">Characters</a>
        </li>
        <li>
          <a href="/power" class="hover:text-gray-300">Powers</a>
        </li>
      </ul>
    </div>
    <!-- Search Bar -->
    <div class="flex order-2">
      <form action="/" method="get">
        <label for="search"></label>
        <input type="text" id="search" name="q" value="<%= q %>" />
        <button type="submit">Zoeken</button>
      </form>
    </div>
  </div>
</nav>
